<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:aop="http://www.springframework.org/schema/aop"
           xmlns:tx="http://www.springframework.org/schema/tx"
           xmlns:context="http://www.springframework.org/schema/context"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
">
    <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
    <property name="url" value="jdbc:mysql://localhost:3306/smbms"/>
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="username" value="root"/>
    <property name="password" value="sa"/>
    </bean>

    <bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--把mybatis配置文件加载进来-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--把mybatis的加载的xml文件配置进来-->
        <property name="mapperLocations" value="classpath:xml/*.xml"/>
        <!--取别名-->
    <!--    <property name="typeAliasesPackage" value=""
                  <property name="mapperLocations" value="classpath:xml/*.xml"/>-->
        <!--引入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--扫描smbms下面的所有-->
    <context:component-scan base-package="cn.smbms"/>
    <!--配置Mapper  生成mapper的bean-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.smbms.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

<!--要切入的事务管理-->
    <bean name="tm" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!--指定事务管理器设置事务属性-->
    <tx:advice id="txAdvice"  transaction-manager="tm">
        <!--定义属性，声明事务规则-->
        <tx:attributes>
            <!--add update delete开头的方法加事务-->
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="uapta*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    <!--定义切面-->
    <aop:config>
        <!--定义切入点-->
        <aop:pointcut id="pointcut" expression="execution(* cn.smbms.service..*.*(..))"/>
        <!--将事务增强与切入点组合-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
    </aop:config>
</beans>
